In [29]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from collections import defaultdict

In [30]:
patients = pd.read_csv('haberman.data.csv', header=None)
patients.head()

    0   1  2  3
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

In [31]:
patients[1].describe()

count    306.000000
mean      62.852941
std        3.249405
min       58.000000
25%       60.000000
50%       63.000000
75%       65.750000
max       69.000000
Name: 1, dtype: float64

In [32]:
patients.rename(columns={0:'age', 1:'year', 2:'nodes', 3:'survived'}, inplace=True)

In [33]:
patients.head()

   age  year  nodes  survived
0   30    64      1         1
1   30    62      3         1
2   30    65      0         1
3   31    59      2         1
4   31    65      4         1

In [34]:
patients['year'] = patients['year'].apply(lambda year: '19' + `year`)

In [44]:
def distancia_euclidiana(x, y):
    x, y = np.array(x), np.array(y)
    diff = x[:-1] - y[:-1]
    dist = np.dot(diff, diff)
    return math.sqrt(dist)

In [46]:
x = [1,2,3]
y = [2,1,3]
distancia_euclidiana(x,y)

1.4142135623730951

[1, 2]

In [ ]:
def knn(treinamento, amostra, K):
    distancias, tamanho_treinamento = defaultdict(dict), len(treinamento)
    for i in range(tamanho_treinamento):
        distancias[i] = distancia_euclidiana(treinamento[i], amostra)