In [3]:
import pandas as pd
copacabana = pd.read_csv('copacabana.csv', delimiter=';')
copacabana.head()

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
0,1,3.0,0.01,1144,311,146,969501,1028834,999168,1750,509,37.0,1,95,4379,685365.0700,7457802.680
1,0,2.0,0.01,2456,502,254,1472861,1137759,1305310,2300,484,30.0,1,71,6479,685941.5500,7459001.320
2,0,2.0,0.01,2448,772,229,1803724,1512475,1658100,2350,920,44.0,1,58,12414,685627.3900,7459080.520
3,0,2.0,0.01,1615,428,310,1124331,1370600,1247466,2200,930,43.0,1,88,11250,685438.2001,7458268.280
4,0,2.0,1.00,2358,586,287,1165764,1177933,1171849,2150,918,42.0,1,68,13382,685764.3840,7458954.513

In [4]:
copacabana.columns

Index([u'Posicao', u'Quartos', u'Vagas', u'DistIpanema', u'DistPraia',
       u'DistFavela', u'RendaMedia', u'RendaMovel', u'RendaMovelRua',
       u'Vu2009', u'Mes', u'Idade', u'Tipologia', u'AreaConstruida',
       u'VAL_UNIT', u'X', u'Y'],
      dtype='object')

In [6]:
copacabana['Quartos'].describe()

count    1675.000000
mean        1.767510
std         1.142523
min         0.010000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: Quartos, dtype: float64

In [10]:
copacabana.loc[copacabana['Quartos'] > 5]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
748,1,6.0,2.0,2500,35,743,1524600,1275377,1399989,4100,360,58.0,1,668,4491,686456.25,7458801.05

In [11]:
#nova coluna
copacabana['TOTAL'] = copacabana['AreaConstruida'] * copacabana['VAL_UNIT']

In [12]:
copacabana['TOTAL'].describe()

count    1.675000e+03
mean     5.862613e+05
std      4.804788e+05
min      6.000000e+04
25%      3.000000e+05
50%      4.500320e+05
75%      7.200115e+05
max      6.199912e+06
Name: TOTAL, dtype: float64

In [13]:
copacabana['TOTAL'].mean()

586261.3014925373