In [1]:
#panda series, dados de uma dimensão, se comporta como uma lista
import pandas as pd
import numpy as np

In [10]:
s = pd.Series([1,2,3,4,5,6,6,7])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64

In [6]:
#mas pode descrever
s.describe()

count    7.000000
mean     4.000000
std      2.160247
min      1.000000
25%      2.500000
50%      4.000000
75%      5.500000
max      7.000000
dtype: float64

In [11]:
s.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [18]:
#dataframe, uma matriz
df = pd.DataFrame([['teste/1', 1111], ['teste/2', 1233], ['teste/3', 3333]])

In [20]:
df.shape

(3, 2)

In [21]:
df

         0     1
0  teste/1  1111
1  teste/2  1233
2  teste/3  3333

In [22]:
df = pd.DataFrame([['teste/1', 1111], ['teste/2', 1233], ['teste/3', 3333]], columns=['teste', 'numbers'])

In [25]:
df

     teste  numbers
0  teste/1     1111
1  teste/2     1233
2  teste/3     3333

In [27]:
#deve ser acessado com o nome da coluna
df['numbers']

0    1111
1    1233
2    3333
Name: numbers, dtype: int64

In [28]:
df['numbers'].mean()

1892.3333333333333

In [29]:
df['numbers'].median()

1233.0

In [31]:
df.iloc[1]

teste      teste/2
numbers       1233
Name: 1, dtype: object

In [32]:
df = pd.DataFrame(
    [
        ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luís'], ['RN', 'Rio Grande do Norte', 'Natal'],
        ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)

In [35]:
df.iloc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro

In [36]:
df.loc[:2]

  Sigla            Nome         Capital
0    PE      Pernambuco          Recife
1    RJ  Rio de Janeiro  Rio de Janeiro
2    PB         Paraíba     João Pessoa

In [38]:
df.index = df['Sigla']

In [39]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [41]:
#remover coluna
del df['Sigla']
df

                      Nome         Capital
Sigla
PE              Pernambuco          Recife
RJ          Rio de Janeiro  Rio de Janeiro
PB                 Paraíba     João Pessoa
SP               São Paulo       São Paulo
MG            Minas Gerais  Belo Horizonte
CE                   Ceará       Fortaleza
AC                    Acre      Rio Branco
MA                Maranhão        São Luís
RN     Rio Grande do Norte           Natal
PR                  Paraná        Curitiba
RS       Rio Grande do Sul    Porto Alegre